.login-container{
    height: 100vh;
    background-image: url('./logging.png');
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .login-content{
    padding-top: 30vh;

    button{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        border-radius: 9px;
    }

    h2{
        font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    }
    p{
        font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    }

    .form-group{
        padding-bottom: 10px;
    }
    label{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
    }
    .form-check{
        padding-bottom: 10px;
    }
    .form-control{
        background: rgba(228, 228, 228, 0.75);
        border-radius: 9px;
        border: none;
    }
    
}
}
